input[type="submit"] {
    background-color: rgb(116, 116, 250);
    color: white;
    padding: 0 20px;
    border-style: none;
}

input[type="submit"]:hover {
    background-color: rgb(51, 55, 255);
}

input {
    width:300px;
    border-radius: 30px;
    border-style: none;
    background-color: #cbd5d6;
    text-indent: 5px;
    height: 40px;
}

input:hover {
    background-color: #e2e2e2;
  }

#loginform, #signupform {
    width:min-content;
}

.vl {
    border-left: 3px solid rgb(176, 176, 176);
    height: 500px;
    border-radius: 3px;
}