#searchIn {
    background-color: #cbd5d6;
    outline-style: none;
    outline-width: 1px;
    border-style: none;
    border-radius: 30px;
    text-indent: 10px;
    width: auto; /* Auto width for flexibility, adjust as needed */
}

#searchIn:hover {
    background-color: #b2b5b6;
}

/* Ensuring that the form and search input are centered */
.mx-auto {
    max-width: 500px; /* Limit the max width of the centered form */
}
