.card {
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#findRequests {
  background-color: white;
}

#searchIn {
  background-color: #cbd5d6;
  outline-style: none;
  outline-width: 1px;
  border-style: none;
  border-radius: 30px;
  text-indent: 10px;
  margin-left: 6px;
  width: 100%;
}

#searchIn:hover {
  background-color: #e2e2e2;
}

#resetButton, #submitButton {
  width: 45px;
  height: 45px;
  align-self: center;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(81, 160, 252);
  color: white;
  margin-right: 8px;
}

.dropdown .dropdown-toggle {
  border-radius: 30px;
  background-color: rgb(81, 160, 252);
  border-style: none;
  width: calc((100% - 75px)/5);;
  height: 45px;
}

.dropdown-toggle:hover, #submitButton:hover, #resetButton:hover{
  background-color: rgb( 13, 110, 253);
}