.card-columns {
  column-count: 5;
}

.card {
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.01);
}

#findRequests {
  background-color: white;
}

#searchIn {
  background-color: #cbd5d6;
  outline-style: none;
  outline-width: 1px;
  border-style: none;
  border-radius: 30px;
  text-indent: 10px;
  margin-left: 4px;
}

#searchIn:hover {
  background-color: #b2b5b6;
}

#resetButton, #submitButton {
  width: 45px;
  height: 45px;
  align-self: center;
  align-items: center;
  border-radius: 40px;
  background-color: rgb(81, 160, 252);
  color: white;
  margin-right: 8px;
}

.dropdown .dropdown-toggle {
  border-radius: 30px;
  background-color: rgb(81, 160, 252);
  border-style: none;
  width: calc(89%/5);;
  height: 45px;
}

.dropdown-toggle:hover, #submitButton:hover, #resetButton:hover{
  background-color: rgb(49, 82, 121);
}