<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="./static/createPage.js"></script>
      <link rel="stylesheet" type="text/css" href="./static/createStyle.css">
      <link rel="stylesheet" type="text/css" href="./static/navbarStyle.css">
      <title>Career Kickstart - Create</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <main class="container-fluid d-flex align-items-center justify-content-center" style="background-image:url('./static/businessquestion.png'); height: 400px;">
      <div class="text-center">
        <h1 class="display-2 text-white">Find a Solution to Your Query</h1>
      </div>
    </main>
	{% include "questionform.html" %}
  </body>
</html>