<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./static/loginstyle.css">
        <link rel="stylesheet" type="text/css" href="./static/navbarStyle.css">
        <script type="text/javascript">
            window.onload = () => {
                $('.modal').modal('show');
            }
        </script>
    </head>
    <body>
        {% include "navbar.html" %}
        {% with message = get_flashed_messages() %}
        {% if message %}
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Can't Create Post!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>{{ message[0] }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <div class="row mt-5">
            <div class="col d-flex justify-content-end align-items-center">
                <form action="/login" id="loginform" method="post"> <!--placeholder location-->
                    {{form1.hidden_tag()}}
                    <p>
                        {{ form1.username_email.label }}<br>
                        {{ form1.username_email }}
                        {% for error in form1.username_email.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form1.password.label }}<br>
                        {{ form1.password }}
                        {% for error in form1.password.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                        {{ form1.submit }}
                </form>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="vl"></div>
            </div>
            <div class="col d-flex justify-content-start align-items-center">
                <form action="/signup" id="signupform" method="post"> <!--placeholder location-->
                    {{form2.hidden_tag()}}
                    <p>
                        {{ form2.email.label }}<br>
                        {{ form2.email }}
                        {% for error in form2.email.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form2.username.label }}<br>
                        {{ form2.username }}
                        {% for error in form2.username.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form2.password.label }}<br>
                        {{ form2.password }}
                        {% for error in form2.password.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form2.confirm_password.label }}<br>
                        {{ form2.confirm_password }}
                        {% for error in form2.confirm_password.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                        {{ form2.submit }}
                </form>
            </div>
        </div>
    </body>
</html>